@import "compass/reset";
@import "helpers";

body {
  background: #111;
  padding: 40px;
  text-rendering: optimizeLegibility;
}

i { // as in "icon"
  display: block;
}

.chrome { // Basic chrome

  $chromeWidth:        520px;
  $chromeHeight:       629px;
  $shadowWidth:        18px;
  $shadowHeight:       18px;

  // header
  $headerTop:          41px;
  $headerWidth:        $chromeWidth - $shadowWidth*2;
  $headerHeight:       51px;
  $headerShadowHeight: 13px;
  $headerLeft:         $shadowWidth;

  // footer
  $footerWidth:        $chromeWidth - $shadowWidth*2;
  $footerHeight:       59px;
  $footerLeft:         $shadowWidth;
  $footerBottom:       $shadowHeight;

  // lines
  $linesTop:           $headerTop + $headerHeight - $headerShadowHeight;
  $linesLeft:          $shadowWidth;

  position:relative;
  @include size($chromeWidth, $chromeHeight);

  margin: auto;
  overflow:hidden;

  background: url(../img/bg-chrome.png) no-repeat;

  #canvas {
    @include position($headerTop + $headerHeight - $headerShadowHeight, false, false, $shadowWidth);
    @include size($chromeWidth - $shadowWidth*2, $chromeHeight - $footerHeight - $headerHeight - $shadowHeight*2);
    z-index: $zTop + 1;
    overflow:hidden;
  }

  header {
    @include position($headerTop, false, false, $headerLeft);
    @include size($headerWidth, $headerHeight);
    background: url(../img/bg-chrome-header.png) no-repeat;
  }

  footer {
    @include position(false, false, $footerBottom, $footerLeft);
    @include size($footerWidth, $footerHeight);
    background: url(../img/bg-chrome-footer.png) no-repeat;
  }

  #lines {
    @include position($linesTop, false, false, $linesLeft);
    @include size($chromeWidth - $shadowWidth*2, $chromeHeight - $linesTop - $footerHeight - $footerBottom);
    z-index: $zTop;
  }
}

// Chrome elements

.chrome header {

  .inner { padding: 10px; }

  ul {
    clear:both;
    overflow: hidden;

    li {

      @include text-shadow($cGray0 0px 1px 1px);

      &, a { @include font("sans-serif", 13px, $cWhite); }
      a { text-decoration: none; }

      i {
        @include inline-block();
      }

      &.user   { float: left; }
      &.status {
        float: right;
        color: $cGray3;

        &.ok i {
          @include size(19px);
          background: url(../img/status-ok.png) no-repeat;
        }

      }
    }
  }
}

.chrome #canvas {

  .controls {

    &#zoom {
      @include position(false, false, 20px, 20px);
    }

    &#options {
      @include position(false, 20px, 20px, false);
    }

    clear: both;
    overflow:hidden;

    li {
      float:left;
      margin: 0 1px 0 0;
      @include size(35px);

      background:rgba(0, 0, 0, .55);

      a {
        @include size(100%);
        display: block;
        @include transition(all 300ms ease-in-out);

        opacity: .5;

        &:hover { opacity: 1; }
      }

      &.selected a { opacity: 1; }

      &.disabled a { cursor: default; }
      &.disabled a:hover { opacity: .5; }

      &.zoom_out  a { background: url(../img/minus.png)       no-repeat 50% 50%; }
      &.magnifier a { background: url(../img/magnifier.png)   no-repeat 50% 50%; }
      &.zoom_in   a { background: url(../img/plus.png)        no-repeat 50% 50%; }
      &.graph     a { background: url(../img/speedometer.png) no-repeat 50% 50%; }
      &.users     a { background: url(../img/users.png)       no-repeat 50% 50%; }
      &.settings  a { background: url(../img/gears.png)       no-repeat 50% 50%; }

      &:first-child { @include border-radius(3px 0 0 3px); }
      &:last-child  { @include border-radius(0 3px 3px 0); }
    }
  }
}

.chrome footer {
  .inner { margin: 20px 0 0 0; padding: 10px; }

  text-align: center;
  @include font("sans-serif-light", 13px, $cGray4);
  @include text-shadow($cGray0 0px 1px 1px);

}

.chrome #canvas .message {
  @include absolute-landscape-center(200px);
  top: 40px;

  text-align: center;

  h2 {
    margin: 0 0 15px 0;

    @include font("sans-serif-bold", 13px, $cWhite);
    @include text-shadow($cGray0 0px 1px 1px);
  }

  i {
    margin: 0 auto 10px auto;
    @include size(16px, 17px);

    background: url(../img/connected.png) no-repeat;
  }

}

// Other elements

.button {
  @include inline-block();

  padding: 5px 6px 4px 6px;
  @include border-radius(10px);
  @include font("sans-serif-bold", 11px, #041A26);

  text-transform: uppercase;
  text-decoration: none;
  background: $cWhite;

  @include transition(all 300ms ease-in-out);

  &:hover {
    @include glow(.5);
  }
}

// SVG
circle {
  stroke:1px;
  opacity:.5;
  fill: $cWhite;
}

#my_points2 circle{
  fill: #fff;
  opacity:.7;
}

circle.hollow {
  stroke:#FF6666;
  stroke-width:2px;
  fill:none;
  opacity:.7;
}

.glow {
  stroke:none;
  opacity:.1;
}

#states path {
  stroke:none;
  stroke-width:0.3px;
  fill:black;
  opacity:.5;
}

.curve, .line {
  fill: none;
  stroke-width: 1px;
}

.curve {
  stroke: #fff;
  stroke-width: 1px;
  opacity:.5;
}

.control {
  fill: #ccc;
  stroke: #000;
  stroke-width: .5px;
}
