@import "compass/reset";
@import "helpers";

body {
  background: #111;
  padding: 40px;
  text-rendering: optimizeLegibility;
}

i { // as in "icon"
  display: block;
}

// Sprites
@import "icons/*.png"; /**/

.chrome { // Basic chrome

  $chromeWidth:        520px;
  $chromeHeight:       629px;
  $shadowWidth:        18px;
  $shadowHeight:       18px;

  // .header
  $headerTop:          41px;
  $headerWidth:        $chromeWidth - $shadowWidth*2;
  $headerHeight:       51px;
  $headerShadowHeight: 13px;
  $headerLeft:         $shadowWidth;

  // .footer
  $footerWidth:        $chromeWidth - $shadowWidth*2;
  $footerHeight:       59px;
  $footerLeft:         $shadowWidth;
  $footerBottom:       $shadowHeight;

  // lines
  $linesTop:           $headerTop + $headerHeight - $headerShadowHeight;
  $linesLeft:          $shadowWidth;

  position:relative;
  @include size($chromeWidth, $chromeHeight);

  margin: auto;
  overflow:hidden;

  @include icons-sprite(bg-chrome);

  #canvas {
    @include position($headerTop + $headerHeight - $headerShadowHeight, false, false, $shadowWidth);
    @include size($chromeWidth - $shadowWidth*2, $chromeHeight - $footerHeight - $headerHeight - $shadowHeight*2);
    z-index: $zTop + 1;
    overflow:hidden;
  }

  .header {
    @include position($headerTop, false, false, $headerLeft);
    @include size($headerWidth, $headerHeight);
    @include icons-sprite(bg-chrome-header);
  }

  .footer {
    @include position(false, false, $footerBottom, $footerLeft);
    @include size($footerWidth, $footerHeight);
    @include icons-sprite(bg-chrome-footer);
  }

  #lines {
    @include position($linesTop, false, false, $linesLeft);
    @include size($chromeWidth - $shadowWidth*2, $chromeHeight - $linesTop - $footerHeight - $footerBottom);
    z-index: $zTop;
  }
}

// Chrome elements

.chrome .header {

  .inner { padding: 10px; }

  ul {
    clear:both;
    overflow: hidden;

    li {

      @include text-shadow($cGray0 0px 1px 1px);

      &, a { @include font("sans-serif", 13px, $cWhite); }
      a { text-decoration: none; }

      i {
        @include inline-block();
      }

      &.user   { float: left; }

      &.status {
        float: right;
        color: $cGray3;

        &.ok i {
          @include size(19px);
          @include icons-sprite(status-ok);
        }

      }
    }
  }
}

.chrome #canvas {

  .controls {

    &#zoom {
      @include position(false, false, 20px, 20px);
    }

    &#options {
      @include position(false, 20px, 20px, false);
    }

    clear: both;
    overflow:hidden;

    li {
      float:left;
      margin: 0 1px 0 0;
      @include size(35px);

      background:rgba(0, 0, 0, .55);

      a {
        @include size(100%);
        display: block;
        @include transition( opacity 300ms ease-in-out );

        opacity: .5;

        &:hover  { opacity: 1; }
      }

      &.selected a { opacity: 1; }

      &.disabled a { cursor: default; }
      &.disabled a:hover { opacity: .5; }

      &.zoom_out  a { background: url(../img/icons/minus.png)       no-repeat 50% 50%; }
      &.magnifier a { background: url(../img/icons/magnifier.png)   no-repeat 50% 50%; }
      &.zoom_in   a { background: url(../img/icons/plus.png)        no-repeat 50% 50%; }
      &.graph     a { background: url(../img/icons/speedometer.png) no-repeat 50% 50%; }
      &.users     a { background: url(../img/icons/users.png)       no-repeat 50% 50%; }
      &.settings  a { background: url(../img/icons/gears.png)       no-repeat 50% 50%; }

      &:first-child { @include border-radius(3px 0 0 3px); }
      &:last-child  { @include border-radius(0 3px 3px 0); }
    }
  }
}

.chrome .footer {
  .inner { margin: 20px 0 0 0; padding: 10px; }

  text-align: center;
  @include font("sans-serif-light", 13px, $cGray4);
  @include text-shadow($cGray0 0px 1px 1px);

}

.chrome #canvas .message {
  @include absolute-landscape-center(200px);
  top: 40px;

  text-align: center;

  h2 {
    margin: 0 0 15px 0;

    @include font("sans-serif-bold", 13px, $cWhite);
    @include text-shadow($cGray0 0px 1px 1px);
  }

  i {
    margin: 0 auto 10px auto;
    @include size(16px, 17px);
    @include icons-sprite(connected);
  }

}

// Other elements

.button {
  @include inline-block();

  padding: 5px 6px 4px 6px;
  @include border-radius(10px);
  @include font("sans-serif-bold", 11px, #041A26);

  text-transform: uppercase;
  text-decoration: none;
  background: $cWhite;

  @include transition(all 300ms ease-in-out);

  &:hover {
    @include glow(.5);
  }
}

.beam {
  stroke:none;
  fill: $cWhite;
  opacity: .3;
}

.green_glow {
  stroke:1;
  fill: #AAD092;
  opacity:.15;
  z-index: 1000;
}

.dot_green {
  stroke:1;
  fill: #AAD092;
  opacity:1;
  cursor: pointer;

  z-index: 1000;
}

// SVG
circle {
  stroke:1;
  fill: $cWhite;
}

#cities circle {
  fill: #fff;
  opacity:.7;
}

.red_glow {
  fill:none;
  stroke:#FF6666;
  opacity:.3;
  z-index: 1000;
}

.hollow {
  stroke:#FF6666;
  stroke-width:1.5;
  fill:none;
  opacity:.9;
}

.glow {
  stroke:none;
  opacity:.1;
}

#states path {
  stroke:none;
  stroke-width:0.3;
  fill:black;
  opacity:.3;
  opacity: 0;
}

.parabola_light {
  fill: none;
  stroke: $cWhite;
  opacity:.15;
  stroke-linecap: round;
}

.parabola {
  fill: none;
  stroke: $cWhite;
  opacity:.7;
  stroke-linecap: round;
}

.radial-menu {

  display: none;

  position: absolute;
  @include size(119px);

  /*pointer-events: none;*/

  @include icons-sprite(circle);

  z-index: 5500;

  .arm {
    @include size(0px, 26px);
    @include position(45px, false, false, 58px);

    transform-origin:0 50%;
    -ms-transform-origin:0 50%; /* IE 9 */
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin:0 50%;
    -o-transform-origin:0% 50%;
    text-align: right;
    width:26px;
  }

  i {
    $size: 22px;

    @include position(0, 0, false, false);
    @include size($size);

    opacity: 0;
    background: url("../img/tmp/thumb.jpeg") no-repeat 50% 50%;
    background-size: $size $size;

    border: 2px solid $cGray0;

    -webkit-background-clip: padding-box;
    @include border-radius(100px);
  }
}

.zoom {
  opacity:1;
  width: 119px; height: 119px;
}

#canvas svg {
    display: inline-block;
    width: 100%;
    height: 100%;
}
